<%- include header %>

<p>用户名: <%= presentuser.username %></p>
<p>用户类型: <%= presentuser.usertype %></p>

<% if(presentuser.usertype !== 'admin') { %>
<p>车辆名: <%= presentuser.vehiclename %></p>
<p>员工名: <%= presentuser.staffname %></p>
<p>电话号: <%= presentuser.phonenumber %></p>
<% } %>

<% if(presentuser.username == locals.user.username | locals.user.usertype == 'admin' ) { %>
    <a href="<%= locals.user.username %>/editpw">修改密码</a>
    <a href="<%= locals.user.username %>/editinfo">编辑信息</a>
<% } %>

<%- include footer %>