<%- include header %>

<legend>操作面板</legend>
<% if(viewingUser.username == locals.user.username | locals.user.userType == 'admin' ) { %>
    <a class="btn" href="<%= locals.user.username %>/editpw">修改密码</a>
    <a class="btn" href="<%= locals.user.username %>/editinfo">编辑信息</a>
<% } %>

<hr />
<legend>个人信息</legend>
<p>用户名: <%= viewingUser.username %></p>
<p>用户类型: <%= viewingUser.userType %></p>
<% if(viewingUser.userType !== 'admin') { %>
<p>车辆名: <%= viewingUser.vehicleName %></p>
<p>员工名: <%= viewingUser.staffName %></p>
<p>电话号: <%= viewingUser.phoneNumber %></p>
<% } %>

<%- include footer %>